# Ignore arquivos temporários e cache Python
__pycache__/
*.py[cod]

# Ignore dados brutos e grandes arquivos de dados
/data/raw/
*.xlsx
*.csv

# Ignore arquivos de ambiente virtual
venv/
.env

# Ignore logs e arquivos temporários
*.log

# Ignore arquivos de configuração do VSCode e outros editores
.vscode/
.idea/
*.swp

# Ignore arquivos de configuração do sistema (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore diretórios de build e distribuições
build/
dist/
*.egg-info/
